*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml

# Config
config.json

# Project data
data/*.xlsx
data/*.csv
data/*.json

# Logs
logs/
*.log

.env
.env.local
.env.*.local
config.json